<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Um site de vendas com produtos para o lar">
    <meta name="keywords" content="Vendas, Produtos, Lar, Variedades">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/jl-estilo.css">
    <title>Página Inicial</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <h1>Jl Variedades</h1>
        </div>
        <div class="menu">
            <a href="index.html">
                <span class="icon"><i class="fa fa-home"></i></span>
                <span class="txt-icon">Home</span>
            </a>
            <a href="#">
                <span class="icon"><i class="fa fa-shopping-bag"></i></span>
                <span class="txt-icon">Produtos</span></a>
            <a href="#">
                <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
                <span class="txt-icon">Carrinho</span></a>
            <a href="quemSomos.html">
                <span class="icon"> <i class="fa-solid fa-shop"></i></span>
                <span class="txt-icon">Quem somos</span></a>
            <a href="#">
                <span class="icon"><i class="fa fa-user"></i></span>
                <span class="txt-icon">Perfil</span></a>

            <a id="botao" href="#"><i class="fa fa-search" style="margin-right: 8px;"></i>Buscar</a>
        </div>
    </nav>
    <header class="header">
        <div class="headline">
            <h2 style="font-size:80px">JL Variedades</h2>
            <h2 style="letter-spacing: 15px;">Tudo para o seu lar!</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, magnam rem unde laborum temporibus cum
                repellendus laudantium eius veritatis consequatur quod veniam, voluptates voluptate alias aliquam fugiat
                itaque cumque quia.</p>
            <a href="#" class="contact-btn">
                <span>
                    <i class="fa-brands fa-whatsapp"></i>
                </span>Fale Conosco</a>
        </div>
    </header>
    <section>
        <h2>O que você procura?</h2>
        <div class="servicos">
            <div class="card">
                <div class="card-text">
                    <h3>Produtos para o lar?</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae nobis totam omnis veritatis
                        sit
                        distinctio doloremque quia officiis, asperiores, consectetur dolorem magnam doloribus eos odio
                        quibusdam? Excepturi corrupti labore necessitatibus?</p>
                </div>
                <div class="texto-oculto">
                    <h3>Clique Aqui!</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae nobis totam omnis veritatis
                        sit
                        distinctio doloremque quia officiis, asperiores, consectetur dolorem magnam doloribus eos odio
                        quibusdam? Excepturi corrupti labore necessitatibus?</p>
                </div>
            </div>
            <div class="card">
                <div class="card-text">
                    <h3>Material Escolar?</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae nobis totam omnis veritatis
                        sit
                        distinctio doloremque quia officiis, asperiores, consectetur dolorem magnam doloribus eos odio
                        quibusdam? Excepturi corrupti labore necessitatibus?</p>
                </div>
                <div class="texto-oculto">
                    <h3>Clique Aqui!</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae nobis totam omnis veritatis
                        sit
                        distinctio doloremque quia officiis, asperiores, consectetur dolorem magnam doloribus eos odio
                        quibusdam? Excepturi corrupti labore necessitatibus?</p>
                </div>
            </div>
            <div class="card">
                <div class="card-text">
                    <h3>Produtos em Geral?</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae nobis totam omnis veritatis
                        sit
                        distinctio doloremque quia officiis, asperiores, consectetur dolorem magnam doloribus eos odio
                        quibusdam? Excepturi corrupti labore necessitatibus?</p>
                </div>
                <div class="texto-oculto">
                    <h3>Clique Aqui!</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae nobis totam omnis veritatis
                        sit
                        distinctio doloremque quia officiis, asperiores, consectetur dolorem magnam doloribus eos odio
                        quibusdam? Excepturi corrupti labore necessitatibus?</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div id="footer-divs">
            <div id="logo-footer">
                <h1 style="font-family:'Lobster', cursive;">JL Variedades</h1>
                <h2 style="font-family:'Lobster', cursive;">Tudo para o seu lar!</h2>
            </div>
            
            <ul class="footer-list">
                <li>
                    <h3>Sobre Nós:</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Quem Somos?</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Onde Estamos?</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Quais Horários de Funcionamento?</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Nossos Contatos:</h3>
                </li>
                <li>
                    <a href="#" class="footer-link" id="telefone">
                        <span class="footer-icon"><i class="fa-solid fa-phone"></i></span>
                        <span class="footer-txt-icon">(85) 99176-1638</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="footer-link" id="email">
                        <span class="footer-icon"><i class="fa-regular fa-envelope"></i></span>
                        <span class="footer-txt-icon">testedeemail@gmail.com</span>
                    </a>
                </li>
            </ul>

            <div id="footer_list">
                <h3>Nossas Redes Sociais:</h3>
                <div id="redes-sociais">
                    <a href="#" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="#" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>
            <div id="footer-copyright">
                &#169
                2024 all rights reserved
            </div>
    </footer>
</body>

</html>