<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Um site de vendas com produtos para o lar">
    <meta name="keywords" content="Vendas, Produtos, Lar, Variedades">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/jl-estilo.css">
    <title>Página Inicial</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <h1>Jl Variedades</h1>
        </div>
        <div class="menu">
            <a href="index.html">
                <span class="icon"><i class="fa fa-home"></i></span>
                <span class="txt-icon">Home</span>
            </a>
            <a href="#">
                <span class="icon"><i class="fa fa-shopping-bag"></i></span>
                <span class="txt-icon">Produtos</span></a>
            <a href="#">
                <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
                <span class="txt-icon">Carrinho</span></a>
            <a href="#">
                <span class="icon"> <i class="fa fa-cog"></i></span>
                <span class="txt-icon">Configurações</span></a>
            <a href="#">
                <span class="icon"><i class="fa fa-user"></i></span>
                <span class="txt-icon">Perfil</span></a>

            <a id="botao" href="#"><i class="fa fa-search" style="margin-right: 8px;"></i>Buscar</a>
        </div>
    </nav>
    <header class="header">
        <div class="headline">
            <h2 style="font-size: 2.5rem;">Quem Somos</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, magnam rem unde laborum temporibus cum
                repellendus laudantium eius veritatis consequatur quod veniam, voluptates voluptate alias aliquam fugiat
                itaque cumque quia.</p>
            <a href="#" class="contact-btn" style="margin-bottom: 1%;">
                <span>
                    <i class="fa-brands fa-whatsapp"></i>
                </span>Fale Conosco</a>
        </div>
    </header>
    <section style="margin-top: 0;">
        <h2 style="font-size: 2rem;">Onde nos encontrar ?</h2>
        <div class="servicos">
            <p><a class="font-size: 14px;" href="https://www.google.com.br/maps/place/JL+Variedades/@-4.2991058,-38.4984572,20z/data=!4m14!1m7!3m6!1s0x7b8cf90a955dcf3:0x3a7290317b95fb60!2sJL+Variedades!8m2!3d-4.2989226!4d-38.4983947!16s%2Fg%2F11t88dc0p_!3m5!1s0x7b8cf90a955dcf3:0x3a7290317b95fb60!8m2!3d-4.2989226!4d-38.4983947!16s%2Fg%2F11t88dc0p_?entry=ttu">R. Padre Enemias, 16 - Centro, Chorozinho - CE, 62875-000</a></p>
            
            
        </div>
    </section>

    <!--Rodapé-->
    <footer>
        <div id="footer-divs">
            <div id="logo-footer">
                <h1 style="font-family:'Lobster', cursive;">JL Variedades</h1>
                <h2 style="font-family:'Lobster', cursive;">Tudo para o seu lar!</h2>
            </div>
            
            <ul class="footer-list">
                <li>
                    <h3>Sobre Nós:</h3>
                </li>
                <li>
                    <a href="quemSomos.html" class="footer-link">Quem Somos?</a>
                </li>
                <li>
                    <a href="quemSomos.html" class="footer-link">Onde Estamos?</a>
                </li>
                <li>
                    <a href="quemSomos.html" class="footer-link">Quais Horários de Funcionamento?</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Nossos Contatos:</h3>
                </li>
                <li>
                    <a href="#" class="footer-link" id="telefone">
                        <span class="footer-icon"><i class="fa-solid fa-phone"></i></span>
                        <span class="footer-txt-icon">(00) 90000-0000</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="footer-link" id="email">
                        <span class="footer-icon"><i class="fa-regular fa-envelope"></i></span>
                        <span class="footer-txt-icon">testedeemail@gmail.com</span>
                    </a>
                </li>
            </ul>

            <div id="footer_list">
                <h3>Nossas Redes Sociais:</h3>
                <div id="redes-sociais">
                    <a href="#" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="#" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>
            <div id="footer-copyright">
                &#169
                2024 all rights reserved
            </div>
    </footer>
</body>

</html>